.formadjustcpass {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 25px #00000093;
}

@media screen and (max-width: 1000px) {
  .formadjustcpass {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px 40px;
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 400px) {
  .formadjustcpass {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px 40px;
    margin-right: 30px;
    margin-left: 30px;
  }
}
